{% extends "layout.html" %}

{% block body%}

<div class="row">
    <div class="col-lg-8">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{article.title}}</h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2"> {{article.create_date}} , {{article.author.username}} tarafından yayımlandı</div>

            </header>
            <!-- Preview image figure-->
            {% if article.article_image%}            
            <img class="img-fluid rounded" src="{{article.article_image}}" alt="..." />
       
            {% endif %}

            <!-- Post content-->
            <p class="lead">
                  
                {{article.content|safe}}

            </p>

        </article>
        

</div>
</div>


{% endblock body%}